In [11]:
# importing necessary imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
track_df = pd.read_csv("tracks.csv", header=[0,1,2])
columns = list(track_df.columns)
columns[0] = "track_id"
track_df.columns = columns

track_df.head()

# info on the track iself

,track_id,"(album, comments, Unnamed: 1_level_2)","(album, date_created, Unnamed: 2_level_2)","(album, date_released, Unnamed: 3_level_2)","(album, engineer, Unnamed: 4_level_2)","(album, favorites, Unnamed: 5_level_2)","(album, id, Unnamed: 6_level_2)","(album, information, Unnamed: 7_level_2)","(album, listens, Unnamed: 8_level_2)","(album, producer, Unnamed: 9_level_2)",...,"(track, information, Unnamed: 43_level_2)","(track, interest, Unnamed: 44_level_2)","(track, language_code, Unnamed: 45_level_2)","(track, license, Unnamed: 46_level_2)","(track, listens, Unnamed: 47_level_2)","(track, lyricist, Unnamed: 48_level_2)","(track, number, Unnamed: 49_level_2)","(track, publisher, Unnamed: 50_level_2)","(track, tags, Unnamed: 51_level_2)","(track, title, Unnamed: 52_level_2)"
0,2,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,4656,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1293,NaN,3,NaN,[],Food
1,3,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,1470,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,514,NaN,4,NaN,[],Electric Ave
2,5,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,1933,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1151,NaN,6,NaN,[],This World
3,10,0,2008-11-26 01:45:08,2008-02-06 00:00:00,NaN,4,6,NaN,47632,NaN,...,NaN,54881,en,Attribution-NonCommercial-NoDerivatives (aka M...,50135,NaN,1,NaN,[],Freeway
4,20,0,2008-11-26 01:45:05,2009-01-06 00:00:00,NaN,2,4,"<p> ""spiritual songs"" from Nicky Cook</p>",2710,NaN,...,NaN,978,en,Attribution-NonCommercial-NoDerivatives (aka M...,361,NaN,3,NaN,[],Spiritual Level

In [13]:
track_df.columns

Index([                                            'track_id',
                  ('album', 'comments', 'Unnamed: 1_level_2'),
              ('album', 'date_created', 'Unnamed: 2_level_2'),
             ('album', 'date_released', 'Unnamed: 3_level_2'),
                  ('album', 'engineer', 'Unnamed: 4_level_2'),
                 ('album', 'favorites', 'Unnamed: 5_level_2'),
                        ('album', 'id', 'Unnamed: 6_level_2'),
               ('album', 'information', 'Unnamed: 7_level_2'),
                   ('album', 'listens', 'Unnamed: 8_level_2'),
                  ('album', 'producer', 'Unnamed: 9_level_2'),
                     ('album', 'tags', 'Unnamed: 10_level_2'),
                    ('album', 'title', 'Unnamed: 11_level_2'),
                   ('album', 'tracks', 'Unnamed: 12_level_2'),
                     ('album', 'type', 'Unnamed: 13_level_2'),
       ('artist', 'active_year_begin', 'Unnamed: 14_level_2'),
         ('artist', 'active_year_end', 'Unnamed: 15_level_2'),
       ('artist', 'associated_labels', 'Unnamed: 16_level_2'),
                     ('artist', 'bio', 'Unnamed: 17_level_2'),
                ('artist', 'comments', 'Unnamed: 18_level_2'),
            ('artist', 'date_created', 'Unnamed: 19_level_2'),
               ('artist', 'favorites', 'Unnamed: 20_level_2'),
                      ('artist', 'id', 'Unnamed: 21_level_2'),
                ('artist', 'latitude', 'Unnamed: 22_level_2'),
                ('artist', 'location', 'Unnamed: 23_level_2'),
               ('artist', 'longitude', 'Unnamed: 24_level_2'),
                 ('artist', 'members', 'Unnamed: 25_level_2'),
                    ('artist', 'name', 'Unnamed: 26_level_2'),
        ('artist', 'related_projects', 'Unnamed: 27_level_2'),
                    ('artist', 'tags', 'Unnamed: 28_level_2'),
                 ('artist', 'website', 'Unnamed: 29_level_2'),
          ('artist', 'wikipedia_page', 'Unnamed: 30_level_2'),
                      ('set', 'split', 'Unnamed: 31_level_2'),
                     ('set', 'subset', 'Unnamed: 32_level_2'),
                 ('track', 'bit_rate', 'Unnamed: 33_level_2'),
                 ('track', 'comments', 'Unnamed: 34_level_2'),
                 ('track', 'composer', 'Unnamed: 35_level_2'),
             ('track', 'date_created', 'Unnamed: 36_level_2'),
            ('track', 'date_recorded', 'Unnamed: 37_level_2'),
                 ('track', 'duration', 'Unnamed: 38_level_2'),
                ('track', 'favorites', 'Unnamed: 39_level_2'),
                ('track', 'genre_top', 'Unnamed: 40_level_2'),
                   ('track', 'genres', 'Unnamed: 41_level_2'),
               ('track', 'genres_all', 'Unnamed: 42_level_2'),
              ('track', 'information', 'Unnamed: 43_level_2'),
                 ('track', 'interest', 'Unnamed: 44_level_2'),
            ('track', 'language_code', 'Unnamed: 45_level_2'),
                  ('track', 'license', 'Unnamed: 46_level_2'),
                  ('track', 'listens', 'Unnamed: 47_level_2'),
                 ('track', 'lyricist', 'Unnamed: 48_level_2'),
                   ('track', 'number', 'Unnamed: 49_level_2'),
                ('track', 'publisher', 'Unnamed: 50_level_2'),
                     ('track', 'tags', 'Unnamed: 51_level_2'),
                    ('track', 'title', 'Unnamed: 52_level_2')],
      dtype='object')

In [14]:
# we only need the genre from this csv
# creating a subset of the data

track_genre_df = track_df[["track_id", ("track", "genre_top", "Unnamed: 40_level_2")]]
track_genre_df = track_genre_df.dropna()

track_genre_df.head()

   track_id (track, genre_top, Unnamed: 40_level_2)
0         2                                 Hip-Hop
1         3                                 Hip-Hop
2         5                                 Hip-Hop
3        10                                     Pop
9       134                                 Hip-Hop

In [15]:
track_genre_df[("track", "genre_top", "Unnamed: 40_level_2")].nunique()

16

In [16]:
features_df = pd.read_csv("features.csv", header=[0,1,2,3])
features_df = features_df.droplevel(3, axis=1)
columns = list(features_df.columns)
columns[0] = "track_id"
features_df.columns = columns

features_df.head()

,track_id,"(chroma_cens, kurtosis, 01)","(chroma_cens, kurtosis, 02)","(chroma_cens, kurtosis, 03)","(chroma_cens, kurtosis, 04)","(chroma_cens, kurtosis, 05)","(chroma_cens, kurtosis, 06)","(chroma_cens, kurtosis, 07)","(chroma_cens, kurtosis, 08)","(chroma_cens, kurtosis, 09)",...,"(tonnetz, std, 04)","(tonnetz, std, 05)","(tonnetz, std, 06)","(zcr, kurtosis, 01)","(zcr, max, 01)","(zcr, mean, 01)","(zcr, median, 01)","(zcr, min, 01)","(zcr, skew, 01)","(zcr, std, 01)"
0,2,7.180653,5.230309,0.249321,1.347620,1.482478,0.531371,1.481593,2.691455,0.866868,...,0.054125,0.012226,0.012111,5.758890,0.459473,0.085629,0.071289,0.000000,2.089872,0.061448
1,3,1.888963,0.760539,0.345297,2.295201,1.654031,0.067592,1.366848,1.054094,0.108103,...,0.063831,0.014212,0.017740,2.824694,0.466309,0.084578,0.063965,0.000000,1.716724,0.069330
2,5,0.527563,-0.077654,-0.279610,0.685883,1.937570,0.880839,-0.923192,-0.927232,0.666617,...,0.040730,0.012691,0.014759,6.808415,0.375000,0.053114,0.041504,0.000000,2.193303,0.044861
3,10,3.702245,-0.291193,2.196742,-0.234449,1.367364,0.998411,1.770694,1.604566,0.521217,...,0.074358,0.017952,0.013921,21.434212,0.452148,0.077515,0.071777,0.000000,3.542325,0.040800
4,20,-0.193837,-0.198527,0.201546,0.258556,0.775204,0.084794,-0.289294,-0.816410,0.043851,...,0.095003,0.022492,0.021355,16.669037,0.469727,0.047225,0.040039,0.000977,3.189831,0.030993

In [17]:
final_df = pd.merge(track_genre_df, features_df, on="track_id")
final_df.head()

,track_id,"(track, genre_top, Unnamed: 40_level_2)","(chroma_cens, kurtosis, 01)","(chroma_cens, kurtosis, 02)","(chroma_cens, kurtosis, 03)","(chroma_cens, kurtosis, 04)","(chroma_cens, kurtosis, 05)","(chroma_cens, kurtosis, 06)","(chroma_cens, kurtosis, 07)","(chroma_cens, kurtosis, 08)",...,"(tonnetz, std, 04)","(tonnetz, std, 05)","(tonnetz, std, 06)","(zcr, kurtosis, 01)","(zcr, max, 01)","(zcr, mean, 01)","(zcr, median, 01)","(zcr, min, 01)","(zcr, skew, 01)","(zcr, std, 01)"
0,2,Hip-Hop,7.180653,5.230309,0.249321,1.347620,1.482478,0.531371,1.481593,2.691455,...,0.054125,0.012226,0.012111,5.758890,0.459473,0.085629,0.071289,0.0,2.089872,0.061448
1,3,Hip-Hop,1.888963,0.760539,0.345297,2.295201,1.654031,0.067592,1.366848,1.054094,...,0.063831,0.014212,0.017740,2.824694,0.466309,0.084578,0.063965,0.0,1.716724,0.069330
2,5,Hip-Hop,0.527563,-0.077654,-0.279610,0.685883,1.937570,0.880839,-0.923192,-0.927232,...,0.040730,0.012691,0.014759,6.808415,0.375000,0.053114,0.041504,0.0,2.193303,0.044861
3,10,Pop,3.702245,-0.291193,2.196742,-0.234449,1.367364,0.998411,1.770694,1.604566,...,0.074358,0.017952,0.013921,21.434212,0.452148,0.077515,0.071777,0.0,3.542325,0.040800
4,134,Hip-Hop,0.918445,0.674147,0.577818,1.281117,0.933746,0.078177,1.199204,-0.175223,...,0.058766,0.016322,0.015819,4.731087,0.419434,0.064370,0.050781,0.0,1.806106,0.054623

In [18]:
X = final_df.drop(columns=[("track", "genre_top", "Unnamed: 40_level_2"), "track_id"])
y = final_df[("track", "genre_top", "Unnamed: 40_level_2")]

X.shape, y.shape

((49598, 518), (49598,))

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((39678, 518), (9920, 518), (39678,), (9920,))

In [20]:
from sklearn import tree
classifier = tree.DecisionTreeClassifier()
"Done"

'Done'

In [21]:
classifier.fit(X_train, y_train)
"Done"

'Done'

In [22]:
predicted = classifier.predict(X_test)
accuracy = classifier.score(X_test, y_test)
accuracy

0.4420362903225806